
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@import "tailwindcss";


.main-font {
  font-family: "Playfair Display", serif;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.mono-font {
  font-family: "Space Mono", monospace;
}